@use '../Settings/variables' as *;
@use '../Settings/os_themes';

* {
   box-sizing: border-box;
}

p,
ul,
figure,
blockquote,
h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
   font-size: inherit;
   font-weight: normal;
}

ul {
   list-style: none outside;
}

ol {
   margin: 20px 0;
   padding-left: 30px;

   li {
      padding: 5px 0;
   }
}

input,
textarea {
   @include os_themes.themed(font-family, type, font);
}

i,
em {
   font-style: italic;
}

button {
   padding: 0;
   background: none;
   border: none;
   @include os_themes.themed(font-family, type, font);
}