@use '../../Settings/variables' as *;
@use '../../Settings/os_themes';
@use '../../Tools/mixins';

.a_Control {
   @include os_themes.themed(box-shadow, shadow, control-raised);

   width: 16px;
   height: 16px;
   padding: 0;
   @include os_themes.themed(background-color, color, control);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

   &:active {
      @include mixins.border-sunken;
   }

   &_icon {
      width: 10px;
      height: 10px;
   }
}